.user-profile {
  width: 100%;

  /* flex commin from main.css by classname */
  justify-content: center;
  flex-direction: column;
}
.user-profile .user-profile__container {
  /* width: 950px; */
  width: 100%;
}
.user-profile .user-profile__banner {
  width: 100%;
}
.user-profile .user-profile__banner img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.user-profile .user-profile__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user-profile .user-profile__info .user-img {
  width: 100%;
  position: relative;
}
.user-profile .user-profile__info .user-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;

  position: absolute;
  top: -100px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
.user-profile .user-profile__info .username {
  font-size: 3rem;
  margin-top: 120px;
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: var(--text-color);
  letter-spacing: 0.5px;
}
.user-profile .user-profile__info .desc {
  font-size: 18px;
  margin-bottom: 1rem;
  color: var(--text-secondary);
  width: 950px;
  line-height: 1.6;
  text-align: center;
}
.user-profile .user-profile__info .link {
  font-size: 14px;
  margin-bottom: 2rem;
  color: var(--text-secondary);
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 5px;
}
.user-profile .user-profile__info .link i {
  margin-right: 5px;
}

.user-profile .user-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user-profile .user-post-wrapper {
  width: 950px;
  height: 300px;
  margin: 1.5rem 0;

  justify-content: center;
}

.user-profile .user-post {
  width: 100%;
  justify-content: center;
}
.user-profile .user-post .post-banner {
  width: 40%;
}
.user-profile .user-post .post-banner img {
  width: 100%;
  height: 250px;

  object-fit: cover;
  border-radius: 5px;
  display: block;
}
.user-profile .user-post .post-desc {
  width: 60%;
  padding: 0 3rem;
  align-self: flex-start;
}
.user-profile .user-post .post-desc h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: var(--text-color);
}

.user-profile .user-post .post-desc p {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: var(--text-secondary);
}
.user-profile .user-post .post-desc .post-author {
  margin-top: 2rem;

  justify-content: space-between;
}
.user-profile .user-post .post-desc .post-author .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.user-profile .user-post .post-desc .post-author .avatar span {
  font-size: 15px;
  color: var(--text-secondary);
  letter-spacing: 0.5px;
  font-weight: 700;
  text-transform: capitalize;

  justify-content: center;
}

@media (max-width: 950px) {
  .user-profile .user-post-wrapper {
    width: 100%;
    height: auto;
    margin: 1.5rem 0;
    padding: 0 2rem;
  }
  .user-profile .user-post {
    flex-direction: column;
  }
  .user-profile .user-post .post-banner {
    width: 100%;
  }
  .user-profile .user-post .post-banner img {
    width: 100%;
  }
  .user-profile .user-post .post-desc {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(233, 224, 224, 0.362);
  }
  .user-profile .user-profile__info .desc {
    width: 100%;
    padding: 0 2rem;
  }
}
